{% extends 'base.html' %}
{% block head %}
{% load static %}
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="{% static 'dist/css/avatar.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/addemp.css' %}"> 

{% endblock %}
{% block content %}
<style>
  .table>thead>tr>th {
    border-bottom: 0.7px solid #b4b4b4 !important;
}
</style>
<section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Add Books</h3>
          </div>
          <!-- /.box-header -->
          
          <form novalidate role="form" enctype="multipart/form-data"  id="my_form" class="form-horizontal" method="POST">
              {% csrf_token %}
              {% if messages %}
              <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                      <p>{{ message }}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
            <div class="box-body">
              <!-- <div class="col-md-12">
                  
              </div>  -->
              <div class="col-md-12" id="addtitle">
                <!-- <h2 class="headfont">ort<span style="color: #00AEEF;">_ -->
                  {% load static %}
                  
                  <b class="">Library Management</b>
              
              </div>
              
              
              
              <div class="col-md-5">
                  <span class="details">Add Excel file</span>
                  <div class="row margintop">
                    <div class="col-md-12">
                      <input type="file"
                      title="Upload excel file"
                      name="excel_file"
                      class="form-control"
                      id="excel"
                      required="required">
                      <span class="text-sm col-xs-12 error p-0" id="excelrequired"></span>
                    </div>
                    
                  </div>                 
              </div>  
              <div class="col-md-5">
                <button id="submit" type="submit" class="btn btn-p submit ">Upload</button></center>
              </div>
              <div class="row">
                <div class="col-md-8" style="margin: 20px 20px;">
                  <h4>
                    Format for uploading excel
                  </h3>
                </div>
              </div>
                  
                <div class="col-md-8" >
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">AuthorID</th>
                        <th scope="col">Rating</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Thousand splendid suns</th>
                        <td>A book about ....</td>
                        <td>1</td>
                        <td>5</td>
                      </tr>                      
                    </tbody>
                  </table>
                </div>
             
                          
                </div>
               
                </div>
                
                  
              </form>
            </div>
          </div>
        </div>
</section>
{% load static%}
  <!-- jQuery 2.2.3 -->
  <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
  <script> 
      $(".toggle-password").click(function() {

      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
          input.attr("type", "text");
      } else {
          input.attr("type", "password");
      }
      });

        //upload photo
        

        
      </script>
      {% load static %}
      <!-- jQuery 2.2.3 -->
      <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
      <script>
    
        function IsValid(value) {
            if (value == "" || value == null || value == undefined) {
                return true;
            }
            else {
                return false;
            }
        }

        

     

          // $('#submit').click(function()
          $('#my_form').submit(function(){
            $('.error').html('');

      
      var excel = $("#excel").val()
     
      if (IsValid(excel)){
        $('#excelrequired').html('');
        $('#excelrequired').html('Please Select file');
        return false;
            }

      
    });

 


  </script>

{% endblock %}

