{% extends 'base.html' %}
{% block head %}
{% load static %}
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="{% static 'dist/css/avatar.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/addemp.css' %}"> 

{% endblock %}
{% block content %}
<section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Add Book</h3>
          </div>
          <!-- /.box-header -->
          {% load widget_tweaks %}
          
              {% csrf_token %}
              {% if messages %}
              <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                      <p>{{ message }}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
            <div class="col-md-2"></div>
            <div class="box-body col-md-8">
              <!-- <div class="col-md-12">
                  
              </div>  -->
              <div class="col-md-12" id="addtitle">
                <!-- <h2 class="headfont">ort<span style="color: #00AEEF;">_ -->
                  {% load static %}
                  
                  <b class="">Library Management</b>
              
                  <form role="form" novalidate enctype="multipart/form-data"  id="my_form" class="form-horizontal" method="POST"> 
                <div class="avatar-wrapper">
                  {% load static%}
                  <img class="profile-pic" src="{% static 'images/profile2.png' %}" />
                  <div class="upload-button">
                      <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                  </div>
                    <div class="form-group">
                      <label for="photo"  class="col-md-12">Photo</label>
                      <div class="col-md-12 input-group text-center"  >
                         {% render_field book.CoverPage type="file" class="file-upload" id='file-upload' name='CoverPage'  %}
                      </div>                    
                  </div>
                </div> 
              
              
              </div>
              
              
              
              {% csrf_token %}
                <div class="col-md-12">
                  <span class="details">Update Book</span>
                  <div class="row margintop">
                    <div class="col-md-12">
                      {% render_field book.Title class="form-control" placeholder="Title" name='Title' id='Title'   %}
                      <span class="text-sm col-xs-12 error p-0" id="titlerequired"></span>
                    </div>
                  </div>                
                 
                  <div class="row margintop">
                    <div class="col-md-12">
                      {% render_field book.Description class="form-control col-md-12" id="Description" name="Description"  placeholder="Description" %}
                      <span class="text-sm col-xs-12 error p-0" id="descriptionrequired"></span>
                    </div>                   
                  </div>             
                  <div class="row margintop">
                    <div class="col-md-12">
                      {% render_field book.Author class="form-control" id="Author" name='Author' placeholder="Author" %}
                      <span class="text-sm col-xs-12 error p-0" id="authorrequired"></span>
                    </div>                   
                  </div>  
                  
                  <div class="row margintop">
                    <div class="col-md-12">
                      {% render_field book.Rating class="form-control col-md-12" id="Rating" name="Rating"  placeholder="Rating" %}
                      <span class="text-sm col-xs-12 error p-0" id="ratingrequired"></span>
                    </div>                   
                  </div> 
                  <div class="row margintop text-center">
                    <button id="submit" type="submit" class="btn btn-p submit ">Update Book</button></center>
                  </div>
                </form>
                          
                </div>     
                </div>
                
                
             
             
            </div>
          </div>
        </div>
</section>
{% load static%}
  <!-- jQuery 2.2.3 -->
  <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
  <script> 
      $(".toggle-password").click(function() {

      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
          input.attr("type", "text");
      } else {
          input.attr("type", "password");
      }
      });

        //upload photo
        $(document).ready(function(){

          var readURL = function(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function (e) {
                  $('.profile-pic').attr('src', e.target.result);
              }

              reader.readAsDataURL(input.files[0]);
                  }
              }

              $(".file-upload").on('change', function(){

                  readURL(this);
              });
              
              $(".upload-button").on('click', function() {
                  console.log('upload button clicked');
              $(".file-upload").click();
              });

        });
      </script>
      {% load static %}
      <!-- jQuery 2.2.3 -->
      <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
      <script>
        // validations
       
        function fnameValidate(e) {
              var keyCode = e.keyCode || e.which;
          
              var lblError = document.getElementById("authornamerequired");
              lblError.innerHTML = "";
          
              var regex = /^[A-Za-z\s]+$/;
          
              var isValid = regex.test(String.fromCharCode(keyCode));
              if (!isValid) {
                  lblError.innerHTML = "Only Alphabets allowed*";
              }
          
              return isValid;
          }
           


        function IsValid(value) {
            if (value == "" || value == null || value == undefined) {
                return true;
            }
            else {
                return false;
            }
        }

        

     

          // $('#submit').click(function()
          $('#my_form').submit(function(){
            $('.error').html('');

      var filter = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/; //To check Email ID
      //var title = $("#TxtTitle").val().trim();
      var Title = $("#Title").val().trim();
      var Description = $("#Description").val().trim();
      var Author = $("#Author").val().trim();
      var Rating = $("#Rating").val().trim();
      
      if (IsValid(Title)){
        $('#titlerequired').html('');
        $('#titlerequired').html('Please Enter Title');
        $('#Title').focus();
        return false;
      }

      else if (IsValid(Description)){
        $('#descriptionrequired').html('');
        $('#descriptionrequired').html('Please Enter description');
        $('#Description ').focus();
        return false;
      }

      else if (IsValid(Author)) {
        $('#authorrequired').html('');
        $('#authorrequired').html('Please Select Author');
       
    		return false;
    	}

      else if (IsValid(Rating)) {
      	$('#ratingrequired').html('');
        $('#ratingrequired').html('Please Enter Rating');
        $('#Rating').focus();
      	return false;
      }   
   
    });

 


  </script>

{% endblock %}

