{% extends 'base.html' %}
{% block head %}
{% load static %}
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="{% static 'dist/css/avatar.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/addemp.css' %}"> 

{% endblock %}
{% block content %}
<section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Add User</h3>
          </div>
          <!-- /.box-header -->
          {% load widget_tweaks %}
          <form role="form" novalidate enctype="multipart/form-data"  id="my_form" class="form-horizontal" method="POST">
              {% csrf_token %}
              {% if messages %}
              <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                      <p>{{ message }}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
            <div class="col-md-2"></div>
            <div class="box-body col-md-8">
              <!-- <div class="col-md-12">
                  
              </div>  -->
              <div class="col-md-12" id="addtitle">
                <!-- <h2 class="headfont">ort<span style="color: #00AEEF;">_ -->
                  {% load static %}
                  
                  <b class="">Library Management</b>
              </div>
              <div class="col-md-12">
                  <span class="details">Personal Details</span>
                  <div class="row margintop">
                    <div class="col-md-12">
                      {% render_field form.Name class="form-control" placeholder="Fullname" name='fullname' id='fullname' onkeypress="return fnameValidate(event);"  %}
                      <span class="text-sm col-xs-12 error p-0" id="fnamerequired"></span>
                    </div>
                  </div>                 
                  <div class="row margintop">
                    <div class="col-md-6">
                      {% render_field form.Phone oninput="checknum()" type="text" class="form-control" id="MobileNumber" name='MobileNumber' maxlength="10" placeholder="Phone Number"  %}
                      <span class="text-sm col-xs-12 error p-0" id="phonerequired"></span>
                    </div>
                    <div class="col-md-6">
                      {% render_field form.BirthDate readonly="True" placeholder="  Date Of Birth"  class="form-control pull-right inspectionDate datepick" name="BirthDate" id="datepicker" %}
                      <span class="fa fa-calendar-o dateicon"></span>
                      <span class="text-sm col-xs-12 error p-0" id="birthdaterequired"></span>
                    </div>   
                  </div> 
                  <div class="row margintop">
                    <div class="col-md-12">
                      {% render_field form.email class="form-control col-md-12" id="Email" name="email"  placeholder="Email ID" %}
                      <span class="text-sm col-xs-12 error p-0" id="emailrequired"></span>
                    </div>                   
                  </div>             
                  <div class="row margintop">
                    <div class="col-md-12">
                      {% render_field form.Address class="form-control" id="location" name='location' placeholder="Address" %}
                      <span class="text-sm col-xs-12 error p-0" id="locationrequired"></span>
                    </div>                   
                  </div>  
                  <div class="row margintop">
                      <div class="col-md-6">
                        {{form.Gender.0.tag}}

                        <!-- <input type="radio" id="optionsRadios1" name="gender" value="M"> -->
                        <label for="id_Gender_0" class="option optionsRadios1">
                          <div><i class="fa fa-mars" aria-hidden="true"></i></div>
                            <span>Male</span>
                            </label>
                      </div>
                      <div class="col-md-6">
                        {{form.Gender.1.tag}}
                        <label for="id_Gender_1" class="option optionsRadios2">
                          <div><i class="fa fa-venus" aria-hidden="true"></i></div>
                            <span>Female</span>
                          </label>
                      </div>
                    <span class="text-sm col-xs-12 error" id="genderrequired"></span>
                  </div>  
                  <div class="row margintop">
                    <div class="col-md-12">
                      {% render_field form.password type="password" class="form-control" id="Password" name="password" placeholder="Password" %}
                      <span toggle="#Password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                      <span class="text-sm col-xs-12 error p-0" id="passwordrequired"></span>
                    </div>                   
                  </div>
                  
                  <div class="row margintop text-center">
                    <button type="reset" class="btn btn-p reset btnpd" >Reset</button>
                    <button id="submit" type="submit" class="btn btn-p submit ">Create Account</button></center>
                  </div>
                          
                </div>
              
                </div>
                
                
              </form>
            </div>
          </div>
        </div>
</section>
{% load static%}
  <!-- jQuery 2.2.3 -->
  <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
  <script> 
      $(".toggle-password").click(function() {

      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
          input.attr("type", "text");
      } else {
          input.attr("type", "password");
      }
      });

        //upload photo
        $(document).ready(function(){
         

        //  Date picker        
          $('#datepicker').datepicker({
            autoclose: true,
            Format: 'mm-dd-yyyy',
            endDate: "today",
          });
        
        });
      </script>
      {% load static %}
      <!-- jQuery 2.2.3 -->
      <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
      <script>
        // validations
        
        function myFunction() {
        var x = document.getElementById("Password");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
      
        function fnameValidate(e) {
              var keyCode = e.keyCode || e.which;
          
              var lblError = document.getElementById("fnamerequired");
              lblError.innerHTML = "";
          
              var regex = /^[A-Za-z\s]+$/;
          
              var isValid = regex.test(String.fromCharCode(keyCode));
              if (!isValid) {
                  lblError.innerHTML = "Only Alphabets allowed*";
              }
          
              return isValid;
          }
          function checkalpha1(){
            var name=document.getElementById('fullname').value ;
            var re = /^[a-zA-Z]+$/;
            if(name.match(re)){
                return true;
            }else{
                var name = name.substring(0, name.length-1);
                document.getElementById('fullname').value = name;
            }
          }
        

      function checknum(){
            var num=document.getElementById('MobileNumber').value ;
            var re = /[0-9]+$/
            if(num.match(re)){
                return true;
            }else{
                var num = num.substring(0, num.length-1);
                document.getElementById('MobileNumber').value = num;
            }
          }

      function IsEmail($email) {
      let emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
      return emailReg.test( $email );
      }

      function IsPhone(phone){
      let phonereg = /^[0-9]{10}$/;
      return phonereg.test(phone)
      }

        function IsValid(value) {
            if (value == "" || value == null || value == undefined) {
                return true;
            }
            else {
                return false;
            }
        }

        
     

          // $('#submit').click(function()
          $('#my_form').submit(function(){
            $('.error').html('');
            console.log('submit function')

      var filter = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/; //To check Email ID
      //var title = $("#TxtTitle").val().trim();
      var fullname = $("#fullname").val().trim();
      var mobileno = $("#MobileNumber").val().trim();
      var emailid = $("#Email").val().trim();
      var gender = $('input[name="Gender"]:checked').val();
      var dateofbirth = $("#datepicker").val().trim();
      var password = $("#Password").val();
      var address = $("#location").val();
            
      console.log(fullname)
      console.log(mobileno)
      console.log(emailid)
      console.log(gender)
      console.log(dateofbirth)
      console.log(password)
      console.log(address)
     
        


      if (IsValid(fullname)){
        $('#fnamerequired').html('');
        $('#fnamerequired').html('Please Enter Your First Name.');
        $('#fullname').focus();
        return false;
      }

      else if (IsValid(gender)) {
        $('#genderrequired').html('');
        $('#genderrequired').html('Please Select Your Gender.');
       
    		return false;
    	}

      else if (IsValid(mobileno)) {
      	$('#phonerequired').html('');
        $('#phonerequired').html('Please Enter Your Mobile.');
        $('#MobileNumber ').focus();
      	return false;
      }
      else if (mobileno.length != 10 ) {
        console.log('invalid number')
        $('#phonerequired').html('');
        $('#phonerequired').html('Please Enter Valid Mobile.');
        $('#MobileNumber ').focus();
        return false;
      }
    	else if (IsValid(emailid)) {
    		$('#emailrequired').html('');
        $('#emailrequired').html('Please Enter Your Email.');
        $('#Email').focus();
    		return false;
    	}
    	else if (!filter.test(emailid)) {
        console.log('invalid email')
    		$('#emailrequired').html('');
        $('#emailrequired').html('Please Enter Valid Email.');
        $('#Email').focus();
    		return false;
    	}

      else if (IsValid(location)) {
    		$('#locationrequired').html('');
        $('#locationrequired').html('Please Enter Your location.');
        $('#location').focus();
    		return false;
    	}
      else if (IsValid(password)) {
    		$('#passwordrequired').html('');
        $('#passwordrequired').html('Please Enter Password.');
        $('#Password').focus();
    		return false;
    	}
      
      else if (IsValid(dateofbirth)) {
        console.log(dateofbirth)
      	$('#birthdaterequired').html('');
        $('#birthdaterequired').html('Please Select Your Birthdate.');
        $('#datepicker ').focus();
      	return false;
      }
    
    });

 


  </script>

{% endblock %}

